@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
} 



.Music{
    display: none;
}

.Yo{
    height: 100vh;
    width: 100%;
    background-image: url(1858934.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #7ddbe5;
}

.color-2{
    color: #1e5991;
    ;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #25b0c6;
    transition: .4s;
}

.btn{
    background-color: #25b0c6;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
    border: 2px solid #1e5991;
    background-color: transparent;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: clamp(20px, 10vh, 75px);
    background: -webkit-linear-gradient(30deg, #262f39, #94ddec) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #25b0c6;
    letter-spacing: 2px;
    font-size: 20px;

}

/* .blue{
    color: #1e5991;
} */

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #25b0c6;
    outline: none;
    border-radius: 30px;

}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #25b0c6;
    color: #03080f;
    cursor: pointer;
    transition: .2s;
}

.newslatter form input:last-child:hover{
    transform: translateX(11px)   scale(1.2);
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #101010;
    display: block;
}

.about-text{
    width: 50%;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
}

.about-text p{
    color: #2a8db4;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.downbutton{
    background-color: #25b0c6;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}

button:hover{
background-color: transparent;
    border: 2px solid #25b0c6;
    cursor: pointer;
}

.services{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;

}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.order{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius:  20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #25b0c6;
}

.pra p{
    color: white;
}

.Projects{
    background-color: #101010;
}

.Projects-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.Projects-text h2{
    color: white;
    font-size: 75px;

}


.Project-container{
    display: grid;
    grid-template-columns: repeat(3, 30fr);
    align-items: center;
    justify-content: center;
    padding-left: 10%;

    }

.P-card{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 5px;
    border-radius: 25px;
    position: relative;
    transition: .4s;
    border: 5px solid #47abd2a0;
}

.P-card:hover{
    scale: 1.2;
    cursor: pointer;
    display: flex;
    border-color: rgb(54, 139, 214);
    animation: animate 2s linear infinite;
}

@keyframes animate{
    from{
        border-color: rgb(54, 139, 214);
    }
    30%{
        border-color: #24aa88;
    }

    40%{
        border-color: #45dbb5;
    }
    50%{
        border-color: #712495;
    }
    60%{
        border-color: #7233a8;
    }
    to{
        border-color: rgb(54, 139, 214);
    }
}


.icono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    right: 50%;
    transition: .4s;
    
}

@keyframes animate2{
    from{
        transform: translateY(0px);
    }
    10%{
       transform: translateY(-15px); 
    }

    20%{
        transform: translateY(-30px);
    }
    
    to{
        transform: translateY(0px);
    }
}

.icono:hover{
    
    animation: animate2 1s linear infinite;
}

.icono-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    right: 30%;
    transition: .4s;
}

.icono-2:hover{
    animation: animate2 1s linear infinite;
}

.open-menu, .close-menu{
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;

}

.open-menu {
    top: 7%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 5.6%;
    right: 20px;
}
.menu{
    display: flex;
}

#check{
    display: none;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 15px;
    }
    h4{
        font-size: 13px;
    }
    .logo{
        font-size: 20px;
    }
    .P-card{
        width: 100px;
        height: 100px;
    }
    .newslatter{
        width: 50%;
    }
    .card{
        width: 50%;
        height: 50%;
        padding: 0;
    }
    .title h2{
        font-size: 30px;
        width: 50%;
    }
    .icono{
        width: 25px;
        height: 25px;
    }
    .icono-2{
        width: 25px;
        height: 25px;
        right: 25%;
    }
    .about-text h2{
        font-size: 30px;
    }
    h5{
        font-size: 18px;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #191919;
        transition: all 0,2s ease-in-out;
    }
    .menu li{
        margin-top: 40px;
    }
    .menu li a{
        padding: 10px;
    }
    .open-menu, .close-menu {
        display: block;
    }
    #check:checked ~ .menu{
        right: 0;
     }
     .btn{
        display: none
     }
} 

